# Ignore node_modules in all subfolders
**/node_modules/

# Ignore Expo build folders
**/.expo/
**/dist/
**/web-build/

# Ignore system files
.DS_Store
*.pem

# Ignore environment files
.env*

# Ignore Metro and debug files
**/.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Ignore Typescript build info
*.tsbuildinfo

# Do NOT ignore holtel-app/ and backend/
!holtel-app/
!backend/
!package.json
!package-lock.json
